<div class="p-d-flex p-flex-column" id="root-wrapper">
  <div class="p-d-flex container">
    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="p-d-flex container-main">
      <div class="p-d-flex p-flex-column">
        <div class="p-d-flex p-jc-between p-ai-center p-mb-4 container">
          <div class="p-d-flex p-ai-center">
            <h3 class="titleHeader">Customer List</h3>
          </div>
        </div>

        <p-card class="card-border">
          <div class="p-d-flex p-jc-between p-mb-4">
            <div>
              <button pButton label="Add Customer" icon="pi pi-plus" class="p-mr-3 button-blue"
                (click)="showFormCreateCustomer()"></button>
              <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                  placeholder="Search keyword" />
              </span>
            </div>
          </div>

          <div>
            <!-- <p-messages></p-messages> -->
            <p-toast></p-toast>
            <p-confirmDialog [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
            </p-confirmDialog>
            <div>
              <p-table #dt1 [value]="customer" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }" [resizableColumns]="true" selectionMode="single"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5, 10, 25, 50]"
                [globalFilterFields]="['username', 'firstName', 'email', 'status']">
                <ng-template pTemplate="header">
                  <tr>
                    <th pResizableColumn pSortableColumn="username">Code<p-sortIcon field="code"></p-sortIcon></th>
                    <th pResizableColumn pSortableColumn="firstName">Name<p-sortIcon field="name"></p-sortIcon></th>
                    <th pResizableColumn pSortableColumn="email">Address<p-sortIcon field="address"></p-sortIcon></th>
                    <th pResizableColumn pSortableColumn="birthDate">Phone<p-sortIcon field="phone"></p-sortIcon></th>
                    <th pResizableColumn pSortableColumn="basicSalary">Email<p-sortIcon field="email"></p-sortIcon>
                    </th>
                    <th pResizableColumn pSortableColumn="status">City<p-sortIcon field="city"></p-sortIcon></th>
                    <th pResizableColumn>Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
                  <tr>
                    <td>{{ "A00" + customer.code }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.address }}</td>
                    <td>{{ customer.phone }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.city }}</td>
                    <td>
                      <button pButton icon="pi pi-download" class="p-button-secondary p-mr-2" pTooltip="Ticket"
                      tooltipPosition="bottom" (click)="showModal(customer)"></button>
                      <button pButton icon="pi pi-eye" class="p-button-success p-mr-2" pTooltip="Edit Data"
                      tooltipPosition="bottom" (click)="editData(customer)"></button>
                      <button pButton icon="pi pi-trash" class="p-button-danger p-mr-2" pTooltip="Delete Data"
                      tooltipPosition="bottom" (click)="deleteData(rowIndex, customer)"></button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Queue Ticket Display" [(visible)]="dialogTicket" [modal]="true" [style]="{width: '550px'}"
  [baseZIndex]="10000" [draggable]="false" [resizable]="false" (onHide)="closeModal()">
  <p-card>
    <div class="p-fluid">
      <body>
        <div class="container">
          <div class="card p-text-center">
            <div class="p-mb-3 p-text-bold">ALMEGATEX</div>
            <hr class="solid">
            <div class="title">
              <h2>Nomor Antrian Anda:</h2>
            </div>
            <div>
              <div class="p-mb-3 p-text-bold">A00{{codeCustomer}}</div>
              <h2>Mohon Menunggu</h2>
              <img src="../../../assets/img/bar_code.svg" alt="bar_code"  height="100px" width="200px">
              <div class="p-mb-3 p-text-bold">{{dateCustomer}},{{timeCustomer}}</div>
              <hr class="solid">
              <h2>Budayakan antri untuk kenyamanan bersama</h2>
              <h2>Terima Kasih atas kunjungan anda</h2>
            </div>
          </div>
        </div>
      </body>
    </div>
  </p-card>
  <br>
  <div class="p-grid button">
      <button pButton pRipple type="button" icon="pi pi-download" label="Print" (click)="printTicket()"
        class="edit p-button-secondary"></button>
  </div>
</p-dialog>