.container-header {
  position: relative;
  width: auto;
  height: 70px;
  background-color: #074f81;
  padding: 20px;
  color: white;
}

.image-circle {
  border-radius: 50%;
  cursor: pointer;
}

.icon-badge {
  font-size: 7pt;
  font-weight: bold;
}

.icon-header {
  font-size: 1.5em;
}

.fixed {
  position: fixed;
}
