<div class="container-header p-d-flex p-jc-between p-ai-center">
    <div>
        <img src="../../../assets/img/engageLogo.svg" alt="logo-engage">
    </div>
    <div class="p-d-flex p-jc-between p-ai-center">
        <span class="p-input-icon-right p-mr-5 ">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search" />
        </span>
        <span class="p-mr-5 p-d-flex p-jc-center p-ai-center">
            <span class="p-mr-2">Customer Management System</span>
            <i class="pi pi-th-large icon-header"></i>
        </span>
        <span class="p-overlay-badge p-mr-5">
            <i class="pi pi-bell icon-header"></i>
            <span class="p-badge p-badge-danger icon-badge">10</span>
        </span>
        <span>
            <img class="image-circle" src="../../../assets/img/profileImage.svg" alt="photo-profile">
        </span>
    </div>
</div>