<div class="p-d-flex p-flex-column" id="root-wrapper">
  <div class="p-d-flex container">
    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="p-d-flex container-main">
      <div class="p-d-flex p-flex-column">
        <div class="p-d-flex p-jc-between p-ai-start container">
          <div class="p-d-flex p-flex-column p-ai-start">
            <h3 class="titleHeader p-mb-2">Dashboard</h3>
            <h3>Welcome! Hello Admin</h3>
          </div>
          <div class="options-header">
          </div>
        </div>
        <p-table></p-table>

        <p-card class="card-border p-mt-2">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </p-card>
      </div>

    </div>
  </div>
</div>