.container-sidebar {
  position: fixed;
  width: 60px;
  height: 100vh;
  /* height: calc(100vh - 70px); */
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
  padding-top: 10px;
  background-color: #ffffff;
}

.con-page {
  background-color: #ffffff;
  width: 100%;
  height: 50px;
  cursor: pointer;
  color: #404042;
}

.con-page:hover {
  border-left: 6px solid #074f81;
  background-color: #e8e8e8;
}

.con-page.active {
  border-left: 6px solid #074f81;
  background-color: #e8e8e8;
  color: #074f81;
}

.buttonpage {
  width: 100%;
  height: 100%;
  color: #404042;
  background-color: transparent;
}

.buttonpage:hover {
  color: #074f81 !important;
  background-color: transparent !important;
}

.buttonpage.active {
  color: #074f81;
  background-color: transparent !important;
}

button:focus {
  border: none !important;
  outline-style: none !important;
  outline: none !important;
  border-color: transparent !important;
}
