<div class="p-d-flex p-flex-wrap p-ai-center p-flex-column container-sidebar">
    <div *ngFor="let button of filterButtons" [ngClass]="{'active': button.isClicked}" (click)="setActive(button)"
        class="con-page p-d-flex p-ai-center p-jc-center">
        <button routerLink={{button.route}} [ngClass]="{'active': button.isClicked}" pButton type="button"
            icon={{button.icon}} class="p-button-text buttonpage" pTooltip={{button.name}}></button>
    </div>
</div>