<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>
<div class="p-d-flex p-flex-column" id="root-wrapper">
    <div class="p-d-flex container">
        <div class="sidebar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="p-d-flex container-main">
            <div class="p-d-flex p-flex-column">
                <div class="p-d-flex p-jc-between p-ai-center p-mb-4 container">
                    <div class="p-d-flex p-ai-center">
                        <h3 class="titleHeader">Customer Input</h3>
                    </div>
                </div>
                <p-card class="card-border">
                    <form class="p-fluid p-field p-grid" [formGroup]="formCreateCustomer">
                        <div class="p-fluid p-col-6">
                            <div class="p-field p-grid p-mb-4">
                                <label for="name" class="p-col-12 p-mb-2 p-md-4 p-mb-md-0">Nama<div style="color: red">*
                                    </div>
                                </label>
                                <div class="p-col-12 p-md-8">
                                    <input formControlName="name" id="name" type="text" autofocus class="form-control"
                                        maxlength="50" pInputText
                                        [ngClass]="{ 'p-invalid': submitted && f.name.errors }" />
                                    <div *ngIf="submitted && f.name.errors" class="p-invalid">
                                        <div *ngIf="f.name.errors.required">Must be filled.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-field p-grid p-mb-4">
                                <label for="address" class="p-col-12 p-mb-2 p-md-4 p-mb-md-0">Alamat<div
                                        style="color: red">*</div>
                                </label>
                                <div class="p-col-12 p-md-8">
                                    <input formControlName="address" id="address" type="text" autofocus
                                        class="form-control" maxlength="50" pInputText
                                        [ngClass]="{ 'p-invalid': submitted && f.address.errors }" />
                                    <div *ngIf="submitted && f.address.errors" class="p-invalid">
                                        <div *ngIf="f.address.errors.required">Must be filled.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-field p-grid p-mb-4">
                                <label for="phone" class="p-col-12 p-mb-2 p-md-4 p-mb-md-0">No Telepon<div
                                        style="color: red">*</div>
                                </label>
                                <div class="p-col-12 p-md-8">
                                    <input formControlName="phone" id="phone" type="number" autofocus
                                        class="form-control" pInputText
                                        [ngClass]="{ 'p-invalid': submitted && f.phone.errors }" />
                                    <div *ngIf="submitted && f.phone.errors" class="p-invalid">
                                        <div *ngIf="f.phone.errors.required">Must be filled.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="p-fluid p-col-6">
                            <div class="p-field p-grid p-mb-4">
                                <label for="Username" class="p-col-12 p-mb-2 p-md-4 p-mb-md-0">Email<div
                                        style="color: red">*</div>
                                </label>
                                <div class="p-col-12 p-md-8">
                                    <input formControlName="email" name="email" type="email" pInputText
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors && (f.email.dirty || f.email.touched ) }"
                                        maxlength="100" />
                                    <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched )">
                                        <div class="p-invalid" *ngIf="f.email.hasError('trimError')"> {{
                                            f.email.errors.trimError.value }} </div>
                                        <small *ngIf="f.email.errors.email" id="username2-help" class="p-invalid">Not
                                            valid email!</small>
                                    </div>
                                </div>
                            </div>
                            <div class="p-field p-grid p-mb-4">
                                <label for="city" class="p-col-12 p-mb-2 p-md-4 p-mb-md-0">Kota<div style="color: red">*
                                    </div>
                                </label>
                                <div class="p-col-12 p-md-8">
                                    <input formControlName="city" id="city" type="text" autofocus class="form-control"
                                        maxlength="50" pInputText
                                        [ngClass]="{ 'p-invalid': submitted && f.city.errors }" />
                                    <div *ngIf="submitted && f.city.errors" class="p-invalid">
                                        <div *ngIf="f.city.errors.required">Must be filled.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="p-field p-grid p-mb-4">
                                <label for="Username" class="p-col-12 p-mb-2 p-md-4 p-mb-md-0">Waktu Kedatangan<div
                                        style="color: red">*</div>
                                </label>
                                <div class="p-col-12 p-md-8">
                                    <input formControlName="birthDate" type="date" pInputText
                                        [ngClass]="{ 'p-invalid': submitted && f.birthDate.errors }" max="3000-01-01"
                                        onfocus="this.max=new Date().toISOString().split('T')[0]" />
                                    <div *ngIf="submitted && f.birthDate.errors" class="p-invalid">
                                        <div *ngIf="f.birthDate.errors.required">Must be filled.</div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="p-field p-grid p-mb-4">
                                <label for="Username" class="p-col-12 p-mb-2 p-md-4 p-mb-md-0">Description<div
                                        style="color: red">*
                                    </div>
                                </label>
                                <div class="p-col-12 p-md-8">
                                    <textarea formControlName="description" type="text" class="form-control"
                                        pInputTextarea [ngClass]="{ 'p-invalid': submitted && f.description.errors }">
                    </textarea>
                                    <div *ngIf="submitted && f.description.errors" class="p-invalid">
                                        <div *ngIf="f.description.errors.required">Must be filled.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="p-grid p-col-12 p-jc-end">
                            <div class="p-d-flex p-jc-end">
                                <button pButton label="Cancel" icon="pi pi-close"
                                    class="p-button-danger p-mr-3 button-red-primary" (click)="cancel()" type="button">
                                </button>
                                <button *ngIf="dataDetail == null && modeEdit == false" pButton label="Save"
                                    icon="pi pi-save" class="p-button-success p-mr-3 button-green-primary" type="button"
                                    (click)="onSubmit()">
                                </button>
                                <button *ngIf="dataDetail != null && modeEdit == false" pButton
                                    [disabled]="!formCreateCustomer.valid" label="Edit" icon="pi pi-save"
                                    class="p-button-success p-mr-3 button-green-primary" type="button"
                                    (click)="onEdit()">
                                </button>
                                <button *ngIf="dataDetail != null && modeEdit == true" pButton
                                    [disabled]="!formCreateCustomer.valid" label="Update" icon="pi pi-save"
                                    class="p-button-success p-mr-3 button-green-primary" type="button"
                                    (click)="onUpdate()">
                                </button>
                            </div>
                        </div>
                    </form>
                </p-card>
                <p-table></p-table>
            </div>
        </div>
    </div>
</div>