.container-main {
    width: 100%;
    position: relative;
    /* box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.034); */
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 15px;
  }
  
  .sidebar {
    width: 60px;
  }
  
  .container {
    width: auto;
  }
  
  #router-outlet {
    width: 100%;
  }
  
  :host ::ng-deep .p-paginator-page {
      min-width: 1.6rem !important;
    }
    :host ::ng-deep .p-datatable-loading-icon{
      color: white
    }