/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
}

.round {
  border-radius: 8px !important;
}

.button-blue {
  background-color: #007bff !important;
  border: transparent !important;
  border-radius: 8px !important;
}

.button-green {
  background-color: #149a9b !important;
  border: transparent !important;
  border-radius: 8px !important;
}

.button-grey {
  background-color: #84b3d4 !important;
  border: transparent !important;
  border-radius: 8px !important;
}

.button-red {
  background-color: #dc3545 !important;
  border: transparent !important;
  border-radius: 8px !important;
}

.button-green-primary {
  background-color: #28a745 !important;
  border: transparent !important;
  border-radius: 8px !important;
}

.card-border {
  border-top: 5px solid #074f81;
  border-radius: 5px;
}

.titleHeader {
  font-size: large;
  color: black;
}

.backgroundGrey {
  background-color: #e8e8e8;
  border-radius: 5px;
}

.active {
  background-color: #e8e8e8;
}

.d-hidden {
  display: none !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.inputBigEachWord {
  text-transform: capitalize;
}
